.grid-container{
    display: grid;
    padding: 10px;
    gap: 10px;
 grid-template-columns: 230px 1fr 230px;
 grid-template-rows: 1fr 400px 1fr;
}
.grid-container>div{
    padding: 80px;
    text-align: center;
    font-size: 20px;
}
.Header{
    background-color: bisque;
    grid-area: 1 / span 3;
}
.Menu{
    background-color: aqua;
    grid-area: 2 / 1 / span 1 / span 1;
}
.Content{
    background-color: burlywood;

}
.AD{
    background-color: coral;
}
.Footer{
    background-color: darkseagreen;
    grid-area: 3 / span 3;
}